<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>About Us</title>
</head>
<body>
    <h2>About Us</h2>
    <hr />

    <p>
        This website shows all the companies listed as IPO along with their financial data and additional information required
        to select a company for buying/selling stocks. The home page simply displays the list of the companies and their
        symbols; there are 4 more links on the page used to navigate and find relevant information.
    </p>

    <p>
        The Short Interest informarion of the company is provided on the "Short Interest List" page that can be navigated to using the link
        provided on the "Home page".
    </p>

    <p>
        To check the current stock price of the selected company, click on the link provided on the "Home page".
    </p>

    <p>
        For details on book, click on the link provided on the "Home page".
    </p>

    <p>
        For details on dividends, click on the link provided on the "Home page". It shows the payment date, record date, type and whether the company is qualified or not.
    </p>

    <a href="https://github.com/chncyx8/Assignment4">Git Hub</a>

    <h3>Contributors</h3>
    <p>
        Karan Gupta is a grad student at USF pursuing MS in Business Analytics. His interest is mainly in the field of big-data
        and analytics. He is very inquisitive about new technologies and is a tech-savvy person.

    </p>
    <br>

    <p>
        Nikky Parashar is a technology enthusiast having a little interest in trading world. She is a graduate student of
        Business Analytics and Information Systems at USF (2018-19). This is the first full-stack web application development
        with API, she has worked on, using C#. Her interests include exploring, be it technology world or real world. She
        believes that information is everywhere and none of it is useless, it only depends on the requirement of the user that
        marks the usefulness of that information.
    </p>
    <br>

    <p>
        Yuxuan Cen: Yuxuan Cen is an MS in Business Analytics student in USF, his interest is data anaytics. He learned C# before but this is his first
        time to build websites using MVC framework, he is very excited about learning new knowledge.
    </p>

</body>
</html>
