<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>About Us</title>
</head>
<body>
    <h2>About Us</h2>
    <hr />

    <p>
        This website shows all the companies listed as IPO along with their financial data and additional information required
        to select a company for buying/selling stocks. The home page simply displays the list of the companies and their
        symbols; each company has a navigational link attached to it which navigates the user to the page that displays
        detailed informartion about the selected company. Along with the details, there are 3 more links on the page to used
        to navigate and find relevant information.
    </p>

    <p>
        The financial informarion of the company is provided on the "Financials" page that can be navigated to using the link
        provided on the "Details" page. It includes revenue, income, assets, liabilities, cash, debt and shareholder equity.
    </p>

    <p>
        To check the stock details of the selected company, click on the link provided on the "Details" page.
    </p>

    <p>
        For details on shares, trade ID and other relevant information, click on the link provided on the "Details" page.
    </p>

    <h3>Contributors</h3>
    <p>
        Karan Gupta:
    </p>
    <br>

    <p>
        Nikky Parashar is a technology enthusiast having a little interest in trading world. She is a graduate student of
        Business Analytics and Information Systems at USF (2018-19). This is the first full-stack web application development
        with API, she has worked on, using C#. Her interests include exploring, be it technology world or real world. She
        believes that information is everywhere and none of it is useless, it only depends on the requirement of the user that
        marks the usefulness of that information.
    </p>
    <br>

    <p>
        Yuxuan Cen:
    </p>

    <a href="https://github.com/chncyx8/Assignment4">Git Hub</a>
    @*@Html.HyperLink("GitHub", "https://github.com/chncyx8/Assignment4")*@
</body>
</html>
