@model IEnumerable<Assignment4.Models.EF_model.Chart>

@{
    ViewData["Title"] = "Chart";
}

<h2>Chart</h2>


<table class="table">
    <thead>
        <tr>
            <th>
                Change
            </th>
            <th>
                changeOverTime
            </th>
            <th>
                changePercent
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.change)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.changeOverTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.changePercent)
                </td>
                <td></td>
            </tr>
        }
    </tbody>
</table>