@{
    ViewData["Title"] = "Price";
}

<h2>Price</h2>
<hr />

<table class="table">
    <thead>
        <tr>
            <th>
                The Stock Price for Requested Company is
            </th>
        </tr>
    </thead>

    <tbody>

        <tr>
            <td>
                @ViewBag.Message
            </td>
        </tr>
    </tbody>
</table>